/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import './common/common.scss';
@import './datatable/datatable-bootstrap.scss';

html,
body {
  margin: 0;
  height: 100vh;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: red($color: #f1f1f1);
}

//Decorate the ScrollBar

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #BF3836;
}
