@import url("https://fonts.googleapis.com/css?family=Lobster+Two:700&display=swap");

.btn {
    border-radius: 0;
}

h1 {
  color: #BF3836;
  font-family: "Lobster Two", cursive;
  text-decoration: underline;
}