<div class="container-fluid mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center mb-2">
            <h1 class="text-uppercase ">Covid-19 Tracker</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary" routerLink="/confirmed" [routerLinkActive]="['active']">
            <input type="radio" name="options" id="option1" autocomplete="off"> Confirmed
            </label>
            <label class="btn btn-secondary" routerLink="/deaths" [routerLinkActive]="['active']">
            <input type="radio" name="options" id="option2" autocomplete="off"> Deaths
            </label>
            <label class="btn btn-secondary" routerLink="/recoveries" [routerLinkActive]="['active']">
            <input type="radio" name="options" id="option3" autocomplete="off"> Recoveries
            </label>
        </div>
    </div>
</div>