<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="confirmed_data">
        <div id="content">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="card border-left-warn shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                <span th:text="${#numbers.formatDecimal(confirmedStats.totalReportedCases, 0, 'COMMA', 0, 'POINT')}"></span>
                                            </div>
                                            <div class="h6 mb-0 mr-3 text-gray-600">
                                                Cases reported as of <span th:text="${confirmedStats.lastDate}"></span>.
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h6 mb-0 mr-3 text-gray-600">
                                                New cases reported since previous day:
                                                <span class="text-gray-800"
                                                    th:text="${#numbers.formatDecimal(confirmedStats.totalNewCases, 0, 'COMMA', 0, 'POINT')}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-users fa-2x text-warning"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="remove-col col-xl-2 col-md-2 mb-4"></div>
                <div class="col-xl-6 col-md-6 mb-4">
                    <div th:replace="fragments/others :: info"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card border-left-warn shadow mb-4" id="table-card">
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="confirmedDataTable">

                                    <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>State</th>
                                            <th><span th:text="${confirmedStats.lastDate}"></span> Total Cases</th>
                                            <th>Difference from Previous Day</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="confirmedLocationStat: ${confirmedLocationStats}">
                                            <td th:text="${confirmedLocationStat.country}" />
                                            <td th:text="${confirmedLocationStat.state}" />
                                            <td th:text="${#numbers.formatDecimal(confirmedLocationStat.latestTotalCases, 0, 'COMMA', 0, 'POINT')}" />
                                            <td th:text="${#numbers.formatDecimal(confirmedLocationStat.diffFromPrevDay, 0, 'COMMA', 0, 'POINT')}" />

                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>