<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <nav th:fragment="header" class="navbar navbar-expand-sm navbar-light bg-white topbar mb-4 static-top shadow">
        <div class="container-fluid">
            <div class="navbar-brand">
                <img th:src="@{/images/corona.png}" width="50" height="50" />
                <h5 class="font-weight-bold text-uppercase mb-1 text-gray-600" style="display: contents;">
                    COVID-19 CORONAVIRUS
                    Tracker</h5>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <button class="btn btn-outline-secondary me-2 active" type="button"
                    onclick="loadConfirmedData()">Confirmed</button>
                <button class="btn btn-outline-secondary me-2" type="button" onclick="loadDeathData()">Deaths</button>
                <button class="btn btn-outline-secondary me-2" type="button"
                    onclick="loadRecoveredData()">Recovered</button>
            </div>
        </div>
    </nav>
</body>

</html>