:root {
    --blue: #4e73df;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e74a3b;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --green: #1cc88a;
    --teal: #20c9a6;
    --cyan: #36b9cc;
    --white: #fff;
    --gray: #858796;
    --gray-dark: #5a5c69;
    --primary: #4e73df;
    --secondary: #858796;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --dark: #5a5c69;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

footer,
header,
main,
nav {
    display: block;
}

body {
    margin: 0;
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: var(--white);
}


hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.border-left-warn {
    border-left: 0.25rem solid var(--warning) !important;
}

.border-left-danger {
    border-left: 0.25rem solid var(--danger) !important;
}

.border-left-success {
    border-left: 0.25rem solid var(--success) !important;
}

a {
    color: #dd882c !important;
    cursor: pointer;
    text-decoration: none !important;
    background-color: transparent;
}

a:hover {
    text-decoration: none;
    color: #bf3836 !important;
}

.text-gray-100 {
    color: #f8f9fc !important;
}

.text-gray-200 {
    color: #eaecf4 !important;
}

.text-gray-300 {
    color: #dddfeb !important;
}

.text-gray-400 {
    color: #d1d3e2 !important;
}

.text-gray-500 {
    color: #b7b9cc !important;
}

.text-gray-600 {
    color: #858796 !important;
}

.text-gray-700 {
    color: #6e707e !important;
}

.text-gray-800 {
    color: #5a5c69 !important;
}

.text-gray-900 {
    color: #3a3b45 !important;
}

.pk-loader {
    background: #efefef;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.pk-loader svg {
    bottom: 0;
    height: 70px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
}

.pk-loader svg polygon {
    stroke-dasharray: 17;
    -webkit-animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
    animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}

.loader-text {
    color: #555555;
    left: 0;
    letter-spacing: 4px;
    margin-top: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 136;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 136;
    }
}

.page-item.active .page-link {
    background-color: lightgrey !important;
    border: 1px solid black !important;
}

.page-link,
.form-select,
.form-control {
    color: black !important;
}

.page-link:focus,
.form-select:focus,
.form-control:focus {
    border: 1px solid black !important;
    box-shadow: none !important;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #570978;
}

@media (max-width: 768px) {
    .remove-col {
        display: none !important;
    }
}