<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="confirmed_cases_stats">
        <p th:text="${totalConfirmedCases.totalNewCases}"></p>
        <p th:text="${totalConfirmedCases.totalReportedCases}"></p>
    </div>
    <div th:fragment="confirmed_cases">
        <table class="table table-bordered table-striped" id="confirmedCaseTable">

            <thead>
                <tr>
                    <th>State</th>
                    <th>Country</th>
                    <th>Latest Total Cases</th>
                    <th>Difference from Previous Day</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="confirmedLocationStat: ${confirmedLocationStats}">
                    <td th:text="${confirmedLocationStat.state}" />
                    <td th:text="${confirmedLocationStat.country}" />
                    <td th:text="${confirmedLocationStat.latestTotalCases}" />
                    <td th:text="${confirmedLocationStat.diffFromPrevDay}" />

                </tr>
            </tbody>

        </table>
    </div>

</body>

</html>